
.testimonial{
  text-decoration: none;
  color: rgb(253, 253, 253);
}

.testimonial:hover{
  color: white;
}

   .join{
    color: white;
text-decoration: none;
}

.join:hover{
    color: white;
}
  
  .nav{
     
    font-weight: bold;
    background: #0060CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    font-family: 'Red Hat Display', sans-serif;
    
  }

  .link{
      margin-left: 15px;
     
    }
  
    .img1{

      width: 670px;
      height: 550px;
      margin-top: 150px;
      
      }

      .title{
          padding-top: 300px;
         margin-left: 60px;
         width: 500px;
         font-weight: bold;
         font-family: 'Red Hat Display', sans-serif;
         font-size: 50px;
        }
        
        .btn1{
          
        width: 120px;
        height: 40px;
        margin-left: 60px;
        margin-top: 50px;
          background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #2363C3;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
        font-family: 'Red Hat Display', sans-serif;
        
        }
        
        .btn2{
          
          width: 120px;
          height: 40px;
          margin-left: 40px;
        margin-top: 50px;
        
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #0670BD;
        background-blend-mode: soft-light, normal;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
        font-family: 'Red Hat Display', sans-serif;
        }

        .card{
          margin-top: 130px;
          margin-left: 150px;
         width: 229px;
         height: 370px;
         border: 1px solid rgba(255, 255, 255, 0.4);
         box-sizing: border-box;
         border-radius: 40px;
         
         
        }     
       
        .card1,.card2{
          text-align: center;
          color:  #0060CA;
          font-size: 30px;
          font-weight: bold;
          text-transform: capitalize;
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
       
        .cardtxt1{
          padding-top: 15px;
          color: #0060CA;
          padding-left: 20px;
        }
       
        .cardtxt2{
         padding-top: 35px;
         color: #0060CA;
         padding-left: 25px;
         width: 310px;
         line-height: 30px;
        }
       
        
       
       
       .myapproach{
         width: 600px;
       height: 600px;
       left: 651px;
       top: 348px;
       }
       
       
        .myvision{
         width: 900px;
         height: 450px;
       margin-top:80px ;
       padding-right: 300px;
         
        }
       
        .about{
          margin-top: 80px;
          text-align: center;
          font-weight: bold;
          color: white;
          
        }
       
        .abtcontent{
          padding-top: 50px; ;
          text-align: justify;
          width: 1000px;
          margin-left: 225px;
          color: white;
          line-height: 25px;
          
          
       
        }
       
        .carousel{
          margin-top: 100px;
          margin-bottom: 100px;
          height: 600px;
          background-color: #204a99;
        }
        

        .coach{
          margin-top: 70px;
          text-align: center;
          font-weight: bold;
          color: #0E5FB7;
        }

       .methodology{
         margin-left: 30px;
         margin-bottom: 50px;
        text-align:justify;
        width: 330px;
        height: 432px;
        color: white;
       background: #0060CA !important;
        background-blend-mode: soft-light, normal;
        border: 2px solid rgba(255, 255, 255, 0.16);
        box-sizing: border-box;
        box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
        
       }

      
       

       .online {
         margin-top: 20px;
        margin-left:130px;
        margin-bottom: 20px;
         width: 70px;
         height: 70px;
       }

       .coach1{
         margin-top: 20px;
         text-align: center;
        font-weight: bold;
        font-size: 26px;
        line-height: 48px;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       }


       /**************courses****************/

      .courses{
        text-align: center;
        color: #0060CA;
        font-weight: bold;
        padding-top: 50px;
      }



       .cardsstyle{
         margin-left: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 210px;
        width: 361px;
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #0670BD;
      background-blend-mode: soft-light, normal;
      border: 1px solid rgba(255, 255, 255, 0.16);
      box-sizing: border-box;
      box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6ABBD;
      border-radius: 40px;
      font-family: 'Red Hat Display', sans-serif;
    }
    
    .cardcourses {
        width: 75px !important;
        height: 75px;
        margin: auto;
        margin-top: 20px;
    }
    
    .cardtitle{
        text-align: center;
    }
    
    .cardlinktext{
        margin-top: 20px;
    }
    
    .cardlink{
        color: #A50DBE;
        text-decoration: none;
    font-weight: 500;
    
    }

    /**************contact****************/


#contact{
  background-color: #204a99;
  margin-top: 110px;
  
}




       .contactpage{
         width: 600px;
         padding-left: 35px;
       }

       .contact{
         
         padding-top: 50px;
         padding-bottom: 50px;
         width: 500px;
         background: linear-gradient(112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0) 111.71%);
         filter: drop-shadow(14.6469px 17.5762px 29.2937px rgba(0, 0, 0, 0.05));
         backdrop-filter: blur(20.5056px);

border-radius: 22px;
      
       }

       .btn4{
        width: 200px;
        height: 45px;
        margin-left: 210px;
        margin-top: 40px;
        
       }


       .quick{
         text-align: center;
         font-weight: bold;
         padding-bottom: 20px;
       }

       .map{
         height: 650px;
         width: 630px;
         padding-left: 0;
         
       }

       .address{
         padding-top: 30px;
         color: white; 
       }

       .addressicon{
         padding-left: 85px;
       }

       .heading{
         padding-left: 70px;
       }

       .add{
         width: 225px;
         
       }

       .phone{
         padding-left: 70px;
       }

       .phoneicon{
         padding-left: 120px;
         padding-bottom: 5px;
         width: 55%;
       }

      .facebook2{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 30px;
      }

      .instagram{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 30px;
      }

      .twitter{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 30px;
      }

      .heading2{
        padding-top: 50px;
        padding-left: 70px;
      }

      .gmail{
    
    margin-left: 50px;
    margin-top: 1px;
      }

      .gmailicon{
        position: absolute;
       width: 30px;
      }

      .address2{
        color: white;
        padding-top: 80px;
      }